{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to My Gallery</h1>
    <p>A demo webpage create by Django web framework.</p>
	<h2>Contact detail:</h2>
	<p>Phasit Phattrapornpisit and Khajornchai Soosawat</p>
	<p>email: phasit.phat@sci.tu.ac.com, khajorn_s@sci.tu.ac.com</p>
	<h2>How to Play:</h2>
	<p>1. Profile : Fill your Profile and Submit</p>
	<p>2. My Gallery : Choose your favorite picture in 10 seconds countdown</p>
	<p>3. Click Back and Choose again untill you tired</p>

	<h1> Thank you </h1>
  </div>
</div>
{% endblock %}